.App {
  text-align: center;
  background-color: whitesmoke;
  margin: 50px 100px 50px 100px;
}

.App-header {
  background-color: light rgb(218, 216, 216);
  height: 50px;
  color: 333;
  font-size: 80px;
  align-items: center;
  margin: 40px;
  
}

.App-body {
  color: 333;
  margin: 25px;
  font-size: 20px;
  

}

.App-colors {
  margin: auto;
  padding: auto;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.palettes {
color: #333;
font-family: monospace;
font-size: 10px;
padding: 10px;



}

.paletteswhiteletters {
  color: whitesmoke;
  font-family: monospace;
  font-size: 10px;
  padding: 10px;
 
  } 

.favorites {
  flex-grow: 2;
  filter: drop-shadow(0px 0px 5px rgb(255, 246, 125));
}