.App {
  text-align: center;
  background-color: whitesmoke;
  margin: 60px 120px 60px 120px;
}

.App-header {
  background-color: light rgb(218, 216, 216);
  height: 50px;
  color: 333;
  font-size: 80px;
  align-items: center;
  margin: 40px;
  
}

.App-body {
  color: 333;
  margin: 25px;
  font-size: 20px;
  

}

.App-footer {
  height: 300px;
  grid-row-end: 3;
  grid-row-start: 2;
  margin: 20px;
  
}

.App-colors {
  margin: auto;
  padding: auto;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.palettes:hover {
  flex-grow: 0.1;
  padding: 20px;
}

.paletteswhiteletters:hover {
  flex-grow: 0.1;
  padding: 20px;
}

.palettes {
color: #333;
font-family: monospace;
font-size: 10px;
padding: 10px;

}

.paletteswhiteletters {
  color: whitesmoke;
  font-family: monospace;
  font-size: 10px;
  padding: 10px;

 
  } 

.favorites {
  flex-grow: .2;
  border-color: rgb(0, 0, 0, 0.5);
  border-style: solid;
  padding: 20px;
  transition: all .2s ease-in-out;
}
