body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* BLUE */
.bluecolor1 {
  background-color: rgba(2, 0, 175, 1);}
.bluecolor2 {
  background-color: rgba(26, 54, 255, 1);} 
.bluecolor3  {
  background-color: rgba(4, 0, 255, 1);}
.bluecolor4 {
  background-color: rgba(0, 32, 150, 1);}
.bluecolor5 {
  background-color: rgba(92, 8, 255, 1);}
.bluecolor6 {
  background-color: rgba(92, 8, 255, 1);}

/* RED */
.redcolor1 {
  background-color:rgba(119, 24, 40, 1);}
.redcolor2 {
  background-color: rgba(151, 18, 32, 1);}
.redcolor3 {
  background-color: rgba(80, 24, 32, 1);}
.redcolor4 {
  background-color: rgba(190, 25, 48, 1);}
.redcolor5 {
  background-color: rgba(221, 29, 53, 1);}
.redcolor6 {
  background-color: rgba(221, 29, 53, 1);}

/* YELLOW */
yellowcolor1 {
 background-color: rgba(243, 227, 124, 1);}
yellowcolor2 {
 background-color: rgba(242, 219, 72, 1);}
yellowcolor3 {
 background-color: rgba(237, 214, 66, 1);}
yellowcolor4 {
 background-color: rgba(242, 217, 55, 1);}
yellowcolor5 {
  background-color: rgba(242, 232, 167, 1);}
yellowcolor6 {
  background-color: rgba(242, 232, 167, 1);}

/* GREEN */
greencolor1 {
  background-color: rgba(78, 206, 108, 1);}
greencolor2 {
  background-color: rgba(75, 127, 82, 1);}
greencolor3 {
  background-color: rgba(150, 232, 188, 1);}
greencolor4 {
  background-color: rgba(182, 249, 201, 1);}
greencolor5 {
  background-color: rgba(201, 255, 226, 1);}
greencolor6 {
  background-color: rgba(201, 255, 226, 1);}

/* ORANGE */
orangecolor1 {
  background-color: rgba(255, 108, 45, 1);}
orangecolor2 {
  background-color: rgba(255, 151, 15, 1);}
orangecolor3 {
  background-color: rgba(255, 142, 50, 1);}
orangecolor4 {
  background-color: rgba(244, 97, 0, 1);}
orangecolor5 {
  background-color: rgba(249, 133, 0, 1);}
orangecolor6 {
  background-color: rgba(249, 133, 0, 1);}

/* WHITE */
whitecolor1 {
  background-color: rgba(240, 247, 244, 1);}
whitecolor2 {
  background-color: rgba(247, 255, 251, 1);}
whitecolor3 {
  background-color: rgba(244, 249, 255, 1);}
whitecolor4 {
  background-color: rgba(249, 246, 244, 1);}
whitecolor5 {
  background-color: rgba(249, 250, 255, 1);}
whitecolor6 {
  background-color: rgba(249, 250, 255, 1);}